body {
    background: url(/static/bg.jpg) fixed;
    background-size: cover;
    text-align: justify;
}

a,
a:hover {
    color: black;
}

a {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.grey-background {
    background-color: #EEEEEE;
    opacity: 0.85;
}

#header {
    height: 192px;
    color: #EEEEEE;
    background: url(/static/sedastrela_cover.png) no-repeat #000;
}

#header a {
    color: #EEEEEE;
}

#header .description {
    font-size: 1.2em;
}

#content div {
    /*padding: 0;*/
}

#content .main {
    /*margin-top: 20px;*/
}

#menu {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}

.opacity30 {
    opacity: 0.3;
}

#header .logo-wraper {
    display: inline-block;
    float: right;
}

#header .logo-wraper img {
    margin-top: 30px;
    margin-right: 10px;
    width: 120px;
}
